@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:500,600,700,900');

@media only screen and (max-width: 960px) {
    #frontimg img {
        content: url("/cover_portrait2.png");   
    }
}

p {
    margin: 0;
    padding: 0;
}

.font {
    font-family: 'Noto Serif TC', serif;
}

.boldest {
    font-weight: 900;
}

.bolder {
    font-weight: 700;
}

.middleGray {
    color: #546e7a
}

.deepGray {
    color: #455a64
}

.shallowGray {
    color: #90a4ae
}