@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:500,600,700,900');

@media only screen and (min-width: 960px) {
  #panel {
    /* height: 80vh; */
	  width: 90%;
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border-radius: 5px;
    margin-top: 5vh;
    /* margin-bottom: 5vh; */
    padding: 0 2% 0 0;
  }

  .subpanel {
    height: 85vh;
    overflow-y: auto;
  }

  .subpanel::-webkit-scrollbar-track
  {
      /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
      margin-top: 4vh;
      background-color: rgb(230, 230, 230);
      border-radius: 6px;
  }

  .subpanel::-webkit-scrollbar
  {
      margin-top: 4vh;
      width: 6px;
      background-color: rgb(255, 255, 255);
  }

  .subpanel::-webkit-scrollbar-thumb
  {
      margin-top: 4vh;
      border-radius: 6px;
      background-color: #90caf9
      /* background-image: -webkit-gradient(linear,
                                        left bottom,
                                        left top,
                                        color-stop(0.44, rgb(161, 217, 241)),
                                        color-stop(0.72, rgb(73,125,189)),
                                        color-stop(0.86, rgb(28,58,148))); */
  }
}

#panel {
  max-width: 1280px;
}

#teacherImg {
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 5px;
  margin-top: 30px; 
  max-width: 540px;
}

#teacherText {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

#name {
  font-size: 54px;
  font-weight: 900;
  color: #546e7a;
  font-family: 'Noto Serif TC', serif;
  margin-right: 20px
}

#nameEdit {
  font-size: 32px;
  font-weight: 900;
  color: #546e7a;
  font-family: 'Noto Serif TC', serif;
}

#department {
  font-size: 32px;
  display: inline-block;
  font-weight: 700;
  color: #90a4ae;
  font-family: 'Noto Serif TC', serif;
}

p {
  font-size: 16px;
  color: #455a64;
  padding: 15px;
  font-weight: 700;
}

#price {
  color: #90a4ae;
}

span, p, h1, h2, h3, h4, h5, h6, textarea {
  font-family: 'Noto Serif TC', serif;
}

@media only screen and (max-width: 960px) {
  #name {
    font-size: 48px;
    display: block;
    text-align: center;
    margin-right: 0;
    margin-top: 30px;
  }
  #department {
    font-size: 28px;
    display: block;
    text-align: center;
  }
  p {
    font-size: 14px;
  }
}

.course-card {
  /* box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2); */
}