@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:500,600,700,900');

@media only screen and (min-width: 960px) {
  #panel {
    /* height: 80vh; */
	  width: 85%;
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border-radius: 5px;
    margin-top: 5vh;
    /* margin-bottom: 5vh; */
    /* padding: 0 40px 0 40px; */
  }

  .subpanel {
    height: 85vh;
    overflow-y: auto;
  }

  .subpanel::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}

#teacherImg {
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 5px;
  margin-top: 30px; 
  max-width: 540px;
}

#teacherText {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

#name {
  font-size: 54px;
  font-weight: 900;
  color: #546e7a;
  font-family: 'Noto Serif TC', serif;
  margin-right: 20px
}

#department {
  font-size: 32px;
  display: inline-block;
  font-weight: 700;
  color: #90a4ae;
  font-family: 'Noto Serif TC', serif;
}

p {
  font-size: 16px;
  color: #455a64;
  padding: 15px;
  font-weight: 700;
}

#price {
  color: #90a4ae;
}

span, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif TC', serif;
}

@media only screen and (max-width: 960px) {
  #name {
    font-size: 48px;
    display: block;
    text-align: center;
    margin-right: 0;
    margin-top: 30px;
  }
  #department {
    font-size: 28px;
    display: block;
    text-align: center;
  }
  p {
    font-size: 14px;
  }
}

.course-card {
  /* box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2); */
}